.footer {
  margin-top: 3rem;
  width: 100%;
  max-width: 1280px;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: gainsboro;
  &__logo {
    font-size: 1.2rem;
    font-style: italic;
  }
  &__desc {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    max-width: 50%;
  }
  &__slogan {
    font-size: 1rem;
  }
  &__description {
    font-size: 0.8rem;
  }
  &__icon {
    margin: .5rem;
    font-size: 3rem;
  }
  &__links {
    display: flex;
    justify-content: space-between;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  &__socials {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-inline: 4rem;
    border-radius: .5rem .5rem .0rem .0rem;
  }
}