.cart-product {
  margin-inline: auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 384px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  &__img {
    width: 6rem;
    aspect-ratio: 4/3;
    border-radius: 0.5rem;
    background: lightslategray;
  }
  &__container-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__name {
    height: fit-content;
  }
  &__icon {
    font-size: 1.2rem;
  }
  &__container-end {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
  &___btn-delete {
    padding: .25rem;
    background: none;
  }
  &__number {
    padding: 0.25rem 0.5rem;
    text-align: center;
    background: gainsboro;
  }
}

.cart-product___quantity {
  display: flex;
  gap: 0.75rem;
}

@media screen and (min-width: 768px) {
  .cart-product {
    max-width: 512px;
    align-items: center;
    &__container-center {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
    &__container-end {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
  }
}