.cart-container {
  margin-inline: auto;
  width: 100%;
  max-width: 512px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cart__separator {
  width: 100%;
  height: 1px;
  border-radius: 0.25rem;
  background: gray;
}

.cart-total {
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__btn-checkout {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .cart__btn-checkout {
    width: 50%;
    align-self: flex-end;
  }
}