@use "../styles/main.scss";

a {
  text-decoration: none;
  color: inherit;
}
.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    display: flex;
    gap: 1rem;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__right {
    display: flex;
    gap: 1rem;
  }
  &__icon {
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.main {
  padding: 1.5rem;
}

.profil-menu {
  display: flex;
  row-gap: .5rem;
  flex-wrap: wrap;
  &__btn {
    margin-right: .5rem;
    padding: .25rem .75rem;
    border-radius: .5rem;
    border: 2px solid transparent;
    background: gainsboro;
  }
  &__btn-active {
    border: 2px solid black;
    background: #e2e2e240;
  }
}

.profil-content {
  margin-top: 1rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background: gainsboro;
}

.profil-data {
  padding: 1rem 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__row {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  &__input {
    padding: .25rem .5rem;
    border-radius: .25rem;
  }
}

.profil-action {
  padding: 1rem 1.25rem;
  align-self: flex-end;
  display: flex;
  gap: .75rem;
  &__btn {
    padding: .25rem .75rem;
    border-radius: .5rem;
  }
  &__btn-deleting {
    color: white;
    background: red;
  }
}

.footer {
  margin-top: 3rem;
  width: 100%;
  max-width: 1280px;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: gainsboro;
  &__logo {
    font-size: 1.2rem;
    font-style: italic;
  }
  &__desc {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    max-width: 50%;
  }
  &__slogan {
    font-size: 1rem;
  }
  &__description {
    font-size: 0.8rem;
  }
  &__icon {
    margin: .5rem;
    font-size: 3rem;
  }
  &__links {
    display: flex;
    justify-content: space-between;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  &__socials {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (min-width: 992px) {
  .profil-data {
    padding: 2rem 2.5rem;
    &__container {
      flex-direction: row;
    }
    &__container &__row {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-inline: 4rem;
    border-radius: .5rem .5rem .0rem .0rem;
  }
}